.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;

  h1 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 32px;
    font-weight: bold;
  }

  p {
    font-size: 20px;
    color: white;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
}

.btn {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: rgb(60,60,60);
  transition: background 0.3s ease;
  text-decoration: none;
}

.btn:hover {
  background: #C8C6C6;;
  color: white;
}
